<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppgift 2 ejs</title>
</head>

<body>
    <% let i=0 for(i=0; i < flowerData.length; i++) { %>
        <div>
            <%= flowerData[i] %>
        </div>
        <%} %>

</body>

</html>